*{
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: #FFF;
  font-family: 'Poppins';
  width: 100vw;
  height: 100vh;
}
body{
  margin: 0;
}
.nav{

  border-bottom: 1px solid ;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  height:75px; 
}
.nav--logo {
  display: flex;
  margin-left: 30px;
  width:85px;
}


  
